<%= form_for(@authorizelog) do |f| %>
  <% if @authorizelog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authorizelog.errors.count, "error") %> prohibited this authorizelog from being saved:</h2>

      <ul>
      <% @authorizelog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
